.container {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../assets/backgroud.jpg");
  background-size: cover;
  display: flex;
}
.wrapperInput {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bill {
  width: 100%;
  padding: 10px;
  height: 45px;
  margin: 10px 0;
}
img {
  height: 45px;
  width: 32%;
}
.captcha {
  padding: 10px;
  width: 33%;
  height: 45px;
  margin: 0 3px;
}

.btn {
  height: 45px;
  border: none;
  width: 33%;
  padding: 15px 20px;
  background-color: #ff5f13;
  color: white;
  cursor: pointer;
}
.close {
  display: flex;
  padding: 5px 10px;
  background-color: #ff5f13;
  color: white;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: none;
  border-radius: 50%;
}
.result {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: scroll;
}
.result span {
  margin-bottom: 30px;
}
.result-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.animated {
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 25px;
  margin-bottom: 60px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    left: 0%;
    opacity: 0.75;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.rightbox {
  height: 100%;
}

.rb-item {
  margin-left: 1rem;
}
.rb-container {
  width: 80%;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  border-left: 1px dashed var(--kts-color-yellow);
  padding: 0 0 25px 25px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: 0px;
  content: " ";
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 10px;
  width: 10px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: var(--kts-color-yellow);
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  width: 200px;
  font-size: 12px;
}

.item-title {
  color: #0a2558;
}
